.container hr {
    margin-bottom: 50px;
}

.repository .link {
    color: #008a64;
    text-decoration: none;
}

.repository .link:hover {
    color: #629c99;
}

.repository hr {
    margin-bottom: 30px;
}
