<div class="container">
    <nav aria-label="breadcrumb" class="mt-5">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" [ngClass]="{'active': this.selectedRun == null}" aria-label="page"
            [routerLink]="['/projects/project', this.projectName]">
                <a (click)="deselectRun()">{{ this.projectName }}</a>
            </li>

            <li class="breadcrumb-item" *ngIf="this.selectedRun != null" [ngClass]="{'active': this.selectedJob == null}" aria-label="page">
                #{{ this.selectedRun.run_number }}
            </li>

            <!-- If it exists, it should be active -->
            <li class="breadcrumb-item active" *ngIf="this.selectedJob != null" aria-label="page">
                {{ this.selectedJob.name }}
            </li>
        </ol>
    </nav>

    <h4 class="text-center">Project Builds</h4>
    <div class="runList m-2 col-md-3 col-sm-4 col-xs-5 w-20 p-2 text-center">
        <div class="spinner-border m-auto text-primary" role="status" *ngIf="this.workflowRuns == null">
            <span class="d-none">Loading...</span>
        </div>
        <div *ngIf="this.workflowRuns != null && this.runs.total_count == 0" class="text-info">
            <i>There are no runs for this project :(</i>
        </div>

        <div class="scroll text-left" *ngIf="this.workflowRuns != null && this.runs.total_count != 0">
            <div class="m-3 run" *ngFor="let workflowRun of this.workflowRuns; index as i">
                <a [ngStyle]="{'color': getRunColor(workflowRun.conclusion)}"
                [routerLink]="['/projects/project', this.projectName, workflowRun.run_number]">
                    <fa-icon [icon]="getRunIcon(workflowRun.conclusion)"></fa-icon>
                    #{{ workflowRun.run_number }}
                </a>
                <small class="text-muted">{{ this.getDate(workflowRun.created_at) }}</small>
            </div>
        </div>
    </div>
</div>
