<div class="container">
  <nav aria-label="breadcrumb" class="mt-4">
    <ol class="breadcrumb py-2 px-3 rounded">
      <li class="breadcrumb-item" aria-label="page">
        <a class="text-decoration-none text-dark" routerLink="/projects">Projects</a>
      </li>
      <li class="breadcrumb-item" [ngClass]="{'active': this.selectedRun == null}" aria-label="page">
        <a class="text-decoration-none text-dark" [routerLink]="['/projects/project', this.projectName]"
          (click)="deselectRun()">{{ this.projectName }}</a>
      </li>

      <li class="breadcrumb-item active" *ngIf="this.selectedRun != null" aria-label="page">
        #{{ this.selectedRun.run_number }}
      </li>

      <!-- If it exists, it should be active -->
      <!-- <li class="breadcrumb-item active" *ngIf="this.selectedJob != null" aria-label="page">
        {{ this.selectedJob.name }}
      </li> -->
    </ol>
  </nav>

  <div class="d-flex justify-content-between flex-wrap-reverse text-center">
    <h4>{{ this.projectName }} Builds</h4>
    <a href="https://github.com/ByMartrixX/{{ this.projectName }}">Github Repository</a>
  </div>

  <div class="row w-auto" id="runContainer">
    <div class="col-md-3 col-sm-4 mb-3 h-100 p-1 text-center" id="runList"
      [ngClass]="{'d-flex': this.workflowRuns == null}">
      <div class="spinner-border m-auto text-primary align-self-center" role="status"
        *ngIf="this.workflowRuns == null && !this.rateLimited">
        <span class="d-none">Loading...</span>
      </div>
      <div class="align-self-center" *ngIf="this.workflowRuns == null && this.rateLimited">
        <h4>You have been rate limited :(</h4>
        <h6>Please try again in {{ getDurationFromS(this.rateLimitResetTimeRemaining) }}</h6>
      </div>

      <div class="text-info" *ngIf="this.workflowRuns != null && this.runs.total_count == 0">
        <i>There are no builds for this project :(</i>
      </div>

      <div class="overflow-auto h-100 text-start" *ngIf="this.workflowRuns != null && this.runs.total_count != 0">
        <div class="m-2 mx-3 run" *ngFor="let workflowRun of this.workflowRuns">
          <p>
            <a class="text-decoration-none"
              [routerLink]="['/projects/project', this.projectName, workflowRun.run_number]"
              [ngStyle]="{'color': getColor(workflowRun)}">
              <fa-icon [icon]="getIcon(workflowRun)"></fa-icon> #{{ workflowRun.run_number }}
            </a>
            <small class="text-muted">{{ getDate(workflowRun.created_at) }}</small>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-9 col-sm-8 mb-3 h-100 text-center" id="build-info">
      <p *ngIf="this.selectedRun == null && this.runs.total_count != 0">Please select a build</p>

      <div class="run-content" *ngIf="this.selectedRun != null">
        <a href="{{ this.selectedRun.html_url }}"><small>Build on Github</small></a>
        <h6>
          <fa-icon [icon]="getIcon(this.selectedRun)" [ngStyle]="{'color': getColor(this.selectedRun)}">
          </fa-icon> Build #{{ this.selectedRun.run_number }}: {{ this.selectedRun.name }}
        </h6>

        <div class="d-flex flex-wrap justify-content-center" id="extra-info">
          <ul class="list-inline mx-1">
            <li class="text-muted">Commit message</li>
            <li>{{ this.selectedRun.head_commit.message }}</li>
          </ul>
          <ul class="list-inline mx-1">
            <li class="text-muted">Commit hash</li>
            <li><code title="{{ this.selectedRun.head_sha }}">{{ this.selectedRun.head_sha.substring(0, 7) }}</code>
            </li>
          </ul>
          <ul class="list-inline mx-1">
            <li class="text-muted">Commit Branch</li>
            <li><code>{{ this.selectedRun.head_branch }}</code></li>
          </ul>
          <ul class="list-inline mx-1">
            <li class="text-muted">Build Duration</li>
            <li>{{ getDuration(this.selectedRun.created_at, this.selectedRun.updated_at) }}</li>
          </ul>
          <ul class="list-inline mx-1">
            <li class="text-muted">Commit Author</li>
            <li>{{ this.selectedRun.head_commit.author.name }}</li>
          </ul>
        </div>

        <i class="text-info" *ngIf="this.selectedRun != null && this.jobCount == 0">There are no jobs for this build
          :(</i>

        <div class="text-center" *ngIf="this.selectedRun != null && this.jobCount != 0"
          [ngClass]="{'d-flex': this.jobs == null}">
          <div class="spinner-border m-auto text-primary align-self-center" role="status"
            *ngIf="this.jobs == null && !this.rateLimited">
            <span class="d-none">Loading...</span>
          </div>
          <div class="align-self-center" *ngIf="this.jobs == null && this.rateLimited">
            <h2>You have been rate limited :(</h2>
            <h4>Please try again in {{ getDurationFromS(this.rateLimitResetTimeRemaining) }}</h4>
          </div>

          <div class="btn-group" role="group" aria-label="Job selection" *ngIf="this.jobs != null && this.jobCount > 1">
            <button class="btn btn-outline-dark" type="button" *ngFor="let job of this.jobs; index as jobIndex"
              [ngStyle]="{'color': getColor(job)}" [ngClass]="{'active': this.selectedJobNum == jobIndex + 1}"
              (click)="loadJob(jobIndex)">
              <fa-icon [icon]="getIcon(job)"></fa-icon> {{ job.name }}
            </button>
          </div>

          <div class="bg-dark d-inline-flex fs-6 fw-normal lh-base px-3 py-2 rounded"
            *ngIf="this.jobs != null && this.jobCount == 1" [ngStyle]="{'color': getColor(this.selectedJob)}">
            <fa-icon [icon]="getIcon(this.selectedJob)"></fa-icon> {{ this.selectedJob.name }}
          </div>

          <div class="my-4 w-100" *ngIf="this.selectedJob != null">
            <ul class="list-group text-start" *ngIf="this.steps != null">
              <li class="list-group-item" *ngFor="let step of steps" [ngStyle]="{'color': getColor(step)}">
                <fa-icon [icon]="getIcon(step)"></fa-icon> {{ step.name }}
                <i class="text-muted float-end">{{ getDuration(step.started_at, step.completed_at) }}</i>
              </li>
            </ul>
          </div>

          <div class="my-4 w-100 h-100 text-center" *ngIf="this.selectedRun != null">
            <h6 class="mx-auto">Artifacts</h6>
            <p>(In a next update you will be able to download artifacts from here)</p>
            <div class="border rounded overflow-auto p-1" id="artifactList"
              [ngClass]="{'d-flex': this.artifacts == null, 'justify-content-center': this.artifacts == null}">
              <a class="align-self-center" (click)="loadArtifacts()"
                *ngIf="this.artifacts == null && !this.artifactsFetched && !this.rateLimited">Fetch artifafcts</a>

              <div class="spinner-border m-auto text-primary align-self-center" role="status"
                *ngIf="this.artifacts == null && this.artifactsFetched && !this.rateLimited">
                <span class="d-none">Loading...</span>
              </div>
              <div class="align-self-center"
                *ngIf="this.artifacts == null && this.artifactsFetched && this.rateLimited">
                <h6>You have been rate limited :(</h6>
                <p>Please try again in {{ getDurationFromS(this.rateLimitResetTimeRemaining) }}</p>
              </div>

              <div class="text-info" *ngIf="this.artifacts != null && this.artifactCount == 0">
                <i>There are no artifacts for this project :(</i>
              </div>
              <ul class="list-group text-start" *ngIf="this.artifacts != null && this.artifactCount != 0">
                <li class="list-group-item" *ngFor="let artifact of this.artifacts">
                  <!-- TODO: Download artifact -->
                  <fa-icon [icon]="faBox"></fa-icon> {{ artifact.name }}
                  <i class="text-muted float-end">{{ getFileSize(artifact.size_in_bytes) }}</i>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
