<div class="container">
    <h1>Welcome to my website</h1>
    <h2><a routerLink="/projects">Here</a> you can find most of my projects</h2>
    
    <hr>

    <h3>About me</h3>
    <h4>I'm Martrixx, AKA ByMartrixX / MartrixX22</h4>
    <p>I'm a (self-proclaimed) programmer from Chile.</p>
    <p>I like playing and coding mods for Minecraft.</p>
    <p>Most of the time I code on Java, but I also know Python and a bit of JavaScript and C#.</p>
    <p>I also manage some public and private Minecraft servers (on Spanish).</p>

    <hr>

    <p>Want to donate? You can do so <a href="https://paypal.me/MartrixX" target="_blank" rel="noopener noreferrer">here</a>,
        it would be much appreciated!</p>
</div>
